/* Estilos Gerais */
body {
  overflow: hidden;
}

/* Estilos da Logo */
.logo {
  top: 0;
  margin-left: 40px;
  max-width: 110px; /* Defina a largura máxima desejada para a logo */
  height: auto; /* Permite que a altura seja ajustada automaticamente */
  margin-bottom: 0px;
}

/* Títulos */
.titulo-principal {
  font-family: 'GT Ultra Fine Black', sans-serif;
  font-size: 36px;
  color: #333333;
  margin-bottom: 0;
  margin-top: 0;
  flex: 1;
  text-align: center;
} 

.titulo-secundario {
  font-family: 'GT Ultra Fine Black', sans-serif;
  font-size: 25px;
  color: #ffffff;
  margin-bottom: 10px;
  margin-top: 0;
  text-align: center;
}

.titulo-principal, .texto-cabecalho {
  text-align: center;
}

/* Textos */
.texto-cabecalho {
  font-family: 'Inter', sans-serif;
  font-size: 14px;
  margin-top: 0;
  color: #000000;
}

.texto-secundario {
  font-family: 'Inter', sans-serif;
  font-size: 15px;
  color: #ffffff;
  text-align: center;
}

.texto-traduzido {
  font-family: 'Inter', sans-serif;
  font-size: 16px;
  width: 100%;
  min-height: 400px;
  max-height: 400px;
  padding: 10px;
  margin-top: 10px;
  border: 1px solid #000000;
  border-radius: 3px;
  resize: vertical;
  box-sizing: border-box;
  background-color: white;
  color: black;
  overflow: auto;
}

#traduzindo p {
  white-space: pre-wrap;
}

/* Textareas */
textarea {
  font-family: 'Inter', sans-serif;
  font-size: 16px;
  width: 100%;
  min-height: 400px;
  max-height: 400px;
  padding: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
  border: 2px solid #352f2f;
  border-radius: 3px;
  resize: vertical;
  box-sizing: border-box; /* Inclui padding e border no cálculo da largura total */
}

/* Container */
.container {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
}

.container-colunas {
  display: flex;
  margin-top: 20px;
  flex-direction: row;
  justify-content: space-between;
  width: 85%;
  margin-left: auto;
  margin-right: auto;
}

.column {
  flex: 1;
  padding: 20px;
  box-sizing: border-box;
  border-radius: 10px;
}

.column + .column {
  margin-left: 20px; /* Ajuste conforme necessário */
}

.left-column {
  background-color: #000000;
  flex: 1;
  font-family: 'Inter';
  color: white;
}

.right-column {
  background-color: #e50505;
  display: flex;
  flex-direction: column;
  font-family: 'Inter', sans-serif;
  font-size: 16px;
  white-space: pre-wrap;
}

/* Botões */
.button {
  background-color: #ffffff; /* Cor de fundo */
  border: 1px solid #000000;
  border-radius: 5px;
  color: rgb(0, 0, 0); /* Cor do texto */
  display: inline-flex; /* Alinhamento inline */
  font-family: 'Inter', sans-serif;
  font-size: 16px; /* Tamanho da fonte */
  padding: 10px 12px; /* Espaçamento interno */
  margin: 10px auto; /* Margem ajustada para centralizar */
  cursor: pointer; /* Cursor ao passar o mouse */
  transition: background-color 0.3s ease; /* Transição suave para mudança de cor */
  line-height: 1; /* Garantir que a altura da linha seja igual à altura do conteúdo */
}

.button i {
  margin-right: 8px; /* Espaçamento entre o ícone e o texto */
  display: inline-flex;
  align-items: center; /* Alinhar ícone ao centro verticalmente */
}

.button span {
  vertical-align: middle; /* Alinhar texto ao meio */
}

.button:hover {
  background-color: #b6b6b6; /* Cor de fundo ao passar o mouse */
}

.button-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 0;
}

/* Indicador HTMX */
.htmx-indicator {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 100px; /* Defina o tamanho máximo da imagem aqui */
  width: 100%;
  text-align: center;
}

.htmx-request .htmx-indicator {
  opacity: 1;
}

@keyframes blinker {
  50% {
    opacity: 0;
  }
}

.blinking {
  animation: blinker 1s linear infinite;
}

/* Footer */
.footer {
  background-color: #ffffff; /* Cor de fundo do footer */
  padding: 10px;
  text-align: center;
  font-family: 'Inter', sans-serif;
  font-size: 12px;
  color: #000000;
}

/* Modo Escuro */
body.dark-mode .logo {
  content: url('/static/img/logo-escuro.png');
}

body.dark-mode {
  background-color: #121212;
  color: #e0e0e0;
}

body.dark-mode .left-column {
  background-color: #333333;
  color: #e0e0e0;
  border: 1px solid #ffffff;
}

body.dark-mode .right-column {
  background-color: #333333;
  color: #e0e0e0;
  border: 1px solid #ffffff;
}

body.dark-mode .texto-traduzido {
  background-color: #333333;
  color: #e0e0e0;
  border: 1px solid #555555;
}

body.dark-mode textarea {
  background-color: #333333;
  color: #e0e0e0;
  border: 1px solid #555555;
}

body.dark-mode .button {
  background-color: #000000;
  color: white;
}

body.dark-mode .button:hover {
  background-color: #312c2c;
}

body.dark-mode .titulo-principal, body.dark-mode .texto-cabecalho {
  color: #ffffff;
}

body.dark-mode .footer {
  background-color: #121212;
  padding: 10px;
  text-align: center;
  font-family: 'Inter', sans-serif;
  font-size: 12px;
  color: #ffffff;
}

body.dark-mode .footer a {
  color: #ffffff; /* Cor do texto do link no modo escuro */
  text-decoration: underline; /* Mantém o sublinhado para diferenciar os links */
}

/* Contêiner do Modo Escuro */
.dark-mode-toggle-container {
  position: absolute;
  top: 12px;
  right: 170px;
  z-index: 999;
}

.dark-mode-toggle-container i {
  font-size: 24px;
  cursor: pointer;
  color: #505050; /* Cor do ícone no modo claro */
  transition: color 0.3s ease;
}

body.dark-mode .dark-mode-toggle-container i {
  color: #ffd000; /* Cor do ícone no modo escuro */
}

/* Contêiner de Traduções Recentes */
.recent-translations-toggle-container {
  position: absolute;
  top: 10px;
  right: 125px;
}

.recent-translations-toggle-container i {
  font-size: 24px;
  cursor: pointer;
  color: #505050; /* Cor do ícone no modo claro */
  transition: color 0.3s ease;
  margin-top: 1px;
}

body.dark-mode .recent-translations-toggle-container i {
  color: #e0e0e0; /* Cor do ícone no modo escuro */
}

.recent-translations-menu {
  position: fixed;
  top: 0;
  right: -300px; /* Escondido fora da tela */
  width: 250px;
  height: 100%;
  background-color: #f1f1f1;
  box-shadow: -2px 0 5px rgba(0,0,0,0.5);
  padding: 10px;
  transition: right 0.3s;
  overflow-y: auto;
  z-index: 1000;
  font-family: 'Inter', sans-serif; 
}

body.dark-mode .recent-translations-menu {
  background-color: #333333;
  color: #e0e0e0;
}

.recent-translations-menu h3 {
  margin-top: 0;
}

.recent-translations-menu ul {
  list-style: none;
  padding: 0;
}

.recent-translations-menu ul li {
  margin-bottom: 10px;
}

.recent-translations-menu ul li a {
  text-decoration: none;
  color: #000000;
  font-family: 'Inter', sans-serif; 
}

body.dark-mode .recent-translations-menu ul li a {
  color: #e0e0e0;
  font-family: 'Inter', sans-serif; 
}

.recent-translations-menu.open {
  right: 0;
}

.menu-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.close-menu {
  font-size: 24px;
  cursor: pointer;
  color: #505050; /* Cor do ícone no modo claro */
  margin-top: 0;
  margin-bottom: 20px;
}

body.dark-mode .close-menu {
  color: #e0e0e0; /* Cor do ícone no modo escuro */
}

/* Caixa de Tradução Completa */
.full-translation-box {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 80%;
  max-width: 600px;
  padding: 20px;
  background-color: white;
  border: 1px solid #ccc;
  box-shadow: 0 2px 10px rgba(0,0,0,0.1);
  z-index: 1001;
  border-radius: 10px;
  font-family: Inter, sans-serif;
}

.full-translation-content {
  position: relative;
  font-family: 'Inter', sans-serif; /* Adicione esta linha para a fonte geral */
}

.full-translation-content p {
  font-family: 'Inter', sans-serif; /* Adicione esta linha para a fonte do texto da tradução */
}

.close-full-translation {
  position: absolute;
  top: 1px;
  right: 10px;
  font-size: 24px;
  cursor: pointer;
  color: #333; /* Cor do ícone de fechar */
}

body.dark-mode .close-full-translation {
  color: #ffffff; /* Cor no modo escuro */
}

body.dark-mode .full-translation-box {
  background-color: #333333;
  color: #ffffff;
  border: 1px solid #555555;
  border-radius: 10px;
}

body.dark-mode .full-translation-content p {
  color: #e0e0e0;
}
