body {
  overflow: auto;
}

.logo {
  top: 0;
  left: 0;
  max-width: 110px; /* Defina a largura máxima desejada para a logo */
  height: auto; /* Permite que a altura seja ajustada automaticamente */
  margin-bottom: 0px;
}

.titulo-principal {
  font-family: 'GT Ultra Fine Black', sans-serif;
  font-size: 40px;
  color: #333333;
  margin-bottom: 0;
  margin-top: 0;
  flex: 1;
  text-align: center;
  } 

.titulo-secundario {
  font-family: 'GT Ultra Fine Black', sans-serif;
  font-size: 25px;
  color: #ffffff;
  margin-bottom: 10px;
  margin-top: 0;
  text-align: center;
}

.texto-cabecalho {
  font-family: 'Inter', sans-serif;
  font-size: 15px;
  color: #000000;
  }

.texto-secundario {
  font-family: 'Inter', sans-serif;
  font-size: 15px;
  color: #ffffff;
  text-align: center;
  }

.texto-traduzido {
  font-family: 'Inter', sans-serif;
  font-size: 16px;
  width: 100%;
  min-height: 400px;
  max-height: 400px;
  padding: 10px;
  margin-top: 10px;
  border: 1px solid #ccc;
  border-radius: 3px;
  resize: vertical;
  box-sizing: border-box;
  background-color: white;
  color: black;
  overflow: auto;

}

textarea {
  font-family: 'Inter', sans-serif;
  font-size: 16px;
  width: 100%;
  min-height: 400px;
  max-height: 400px;
  padding: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 3px;
  resize: vertical;
  box-sizing: border-box; /* Inclui padding e border no cálculo da largura total */
}

.titulo-principal, .texto-cabecalho {
  text-align: center;
}

#traduzindo p {
  white-space: pre-wrap;
  /* Outras propriedades de estilo aqui, se necessário */
}

.container {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
}

.container-colunas {
  display: flex;
  margin-top: 25px;
  flex-direction: row;
  justify-content: space-between;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
}

.column {
  flex: 1;
  padding: 20px;
  box-sizing: border-box;
  border-radius: 10px;
}

.column + .column {
  margin-left: 20px; /* Ajuste conforme necessário */
}

.left-column {
  background-color: #000000;
  flex: 1;
  font-family: 'Inter';
  color:white;
}

.right-column {
  background-color: #e50505; 
  display: flex;
  flex-direction: column;
  font-family: 'Inter', sans-serif;
  font-size: 16px;
  white-space: pre-wrap;
}

.button {
  background-color: #505050; /* Cor de fundo */
  border: 1px solid #ccc;
  border-radius: 5px;
  color: white; /* Cor do texto */
  text-align: center; /* Alinhamento do texto */
  display: inline-block; /* Alinhamento inline */
  font-family: 'Inter', sans-serif;
  font-size: 16px; /* Tamanho da fonte */
  padding: 10px 20px; /* Espaçamento interno */
  margin: 10px auto; /* Margem ajustada para centralizar */
  cursor: pointer; /* Cursor ao passar o mouse */
  box-sizing: border-box; /* Incluir padding e border no tamanho total */
  width: auto; /* Largura automática */
  transition: background-color 0.3s ease; /* Transição suave para mudança de cor */
}

.button:hover {
  background-color: #8700bd; /* Cor de fundo ao passar o mouse */
}

.button-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 5px;
}
  
.htmx-indicator{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 100px; /* Defina o tamanho máximo da imagem aqui */
  width: 100%;
  text-align: center;
}

.htmx-request .htmx-indicator{
    opacity:1
}

@keyframes blinker {
    50% {
      opacity: 0;
    }
  }
  
.blinking {
    animation: blinker 1s linear infinite;
}

nav {
  background: Lavender;
  width: 240px;
  padding: 12px;
  border-radius: 12px;
  position: fixed;
  top: 10px;
  right: 1px;
  clip-path: circle(31px at 48px 48px);
  transition: all 1s;
}
nav.ativa {
  clip-path: circle(360px at 48px 48px);
}
nav a {
  text-decoration: none;
  font-size: 36px;
}
nav a:hover {
  color: DeepPink;
}

button img {
  width: 48px;
  aspect-ratio: 1;
  padding: 5px;
}
.links {
  display: flex;
  flex-direction: column;
  gap: 12px;
  margin: 24px 12px;
}